*{
  background-color: #4d4d4d;

 padding:0;
 margin: 0;
font-family: Century Gothic;
}
/*logo image*/
.select img {
  width: auto;
  height: 150px;
background-color:#6b6361;
display: inline;
}
/*Blogmo*/
.select h3{
font-size:20px;
  position: absolute;
  left:150px;
  top: 10px;
  width: 100px;
  height: 50px;
  background-color:#6b6361;
}
.select h1{
  position: absolute;
  left:150px;
  top: 35px;
  width: 100px;
  height: 100px;
  background-color:#6b6361;
}
.select h2{
  position: absolute;
  left:150px;
  top: 75px;
  width: 250px;
  height: 75px;
  background-color:#6b6361;
}

.bin {
  animation: blink 1s steps(1, end) infinite;
  background-color:#6b6361;
}
@keyframes bin {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.blink {
  animation: blink 1s steps(1, end) infinite;
}
@keyframes blink {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/*button on the right*/
ul{
float: right;
list style-type: none;
margin-top:-100px;

}

ul li{
	display: inline-block;
}
ul li a{
text-decoration: none;
color: #fff;
padding: 5px 20px;
border: 1px solid #fff;
transition: 0.6s aese;
}

ul li a: hover{
background-color: #fff;
color: #000;
}


ul li.active a{
background-color: #fff;
color: #000;
}




.title{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.title{
color: #fff;
font-size: 30px;
}

.button{
position: absolute;
top: 65%;
left: 30%;
transfrom: translate(-50%,-50%);
}

.btn{
border: 1px solid #fff;
padding: 10px 30px;
color: #fff;
text-decoration: none;
transition: 0.6s ease;
}

.btn: hover{
background-color: #fff;
color: #000;
}
